---
services:
  minecraftserver:
    image: itzg/minecraft-server:{{ minecraftserver_image_version }}
    container_name: {{ minecraftserver_container_name }}
    environment:
      EULA: "TRUE"
{% if minecraftserver_version is defined and minecraftserver_version | length > 0 %}
      VERSION: "{{ minecraftserver_version }}"
{% endif %}
{% if minecraftserver_environment is defined and minecraftserver_environment | length > 0 %}
{% for key, value in minecraftserver_environment.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    volumes:
      - {{ minecraftserver_data_volume_directory }}:/data
    ports:
      - {{ minecraftserver_interface }}:{{ minecraftserver_port }}:25565/tcp
    restart: unless-stopped
