[Install]
WantedBy=multi-user.target

[Unit]
Description={{ minecraftserver_service_name }} service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/local/bin/docker-compose \
  --project-directory {{ minecraftserver_docker_working_directory }} \
  --file {{ minecraftserver_docker_compose_path }} \
  --project-name {{ minecraftserver_service_name }} \
  down \
  --remove-orphans

ExecStartPre=/usr/local/bin/docker-compose \
  --project-directory {{ minecraftserver_docker_working_directory }} \
  --file {{ minecraftserver_docker_compose_path }} \
  --project-name {{ minecraftserver_service_name }} \
  pull

ExecStart=/usr/local/bin/docker-compose \
  --project-directory {{ minecraftserver_docker_working_directory }} \
  --file {{ minecraftserver_docker_compose_path }} \
  --project-name {{ minecraftserver_service_name }} \
  up

ExecStop=/usr/local/bin/docker-compose \
  --project-directory {{ minecraftserver_docker_working_directory }} \
  --file {{ minecraftserver_docker_compose_path }} \
  --project-name {{ minecraftserver_service_name }} \
  down \
  --remove-orphans

Restart=always
RestartSec=60s
TimeoutSec=3600
